* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 15px;
  text-align: center;
  height: 100%;
  width: 100%; }

.grid-container > * {
  border: 1px solid #000000; }

.container-btn > * {
  margin: 20px; }

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'section' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.grid-container main .portada-media img {
  width: 200px;
  height: 200px;
  margin-bottom: 40px; }
  .grid-container main .portada-media img #carrusel-1, .grid-container main .portada-media img #carrusel-2 {
    margin-top: 50px;
    font-weight: bolder; }

.grid-container main .portada-contacto img {
  width: 200px;
  height: 200px;
  margin-bottom: 40px; }
  .grid-container main .portada-contacto img .titulo-form {
    margin: 30px; }

.portada-shop img {
  width: 200px;
  height: 200px;
  margin-bottom: 40px; }

.container-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px inset #fff;
  padding: 10px;
  margin-top: 50px; }
  .container-shop .card-shop {
    background-color: #F05454;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    height: auto; }
    .container-shop .card-shop img {
      width: 100%;
      height: 80%;
      opacity: .5;
      border-radius: 5px; }
      .container-shop .card-shop img:hover {
        opacity: 1; }

.portada-about img {
  width: 200px;
  height: 200px;
  margin-bottom: 40px; }

.grid-container main .container-btn .btn-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  margin: 30px 10px;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  padding: 15px;
  border-radius: 30px; }
  .grid-container main .container-btn .btn-about .btn-aliados {
    width: 250px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    background-color: #96BAFF;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 1px #000000;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 10px;
    animation: none;
    transition: all .5s ease-in-out;
    font-family: 'Averia Sans Libre', cursive; }
    .grid-container main .container-btn .btn-about .btn-aliados:hover {
      border-radius: 30px 30px 0px 30px;
      box-shadow: inset 0px 30px 10px -25px black;
      transition: all .5s ease-in-out;
      animation: efecto-hvr 1.6s infinite; }

@keyframes efecto-hvr {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-5px); }
  60% {
    transform: translateY(-5px); } }

.grid-container section .vid-about {
  margin: 20px; }

@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-areas: 'header header' 'main   main' 'section section' 'footer footer';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto; }
    .grid-container header nav ul {
      flex-direction: row;
      justify-content: space-evenly; }
  .grid-container main .container-shop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .grid-container main .container-shop .card-shop {
      width: 50%; }
      .grid-container main .container-shop .card-shop div img {
        width: 100%;
        height: 100%;
        opacity: .5;
        border-radius: 5px; } }

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas: 'header header header' 'main   main    main' 'section section section' 'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  .grid-container main .container-shop {
    flex-direction: row;
    flex-wrap: wrap; }
    .grid-container main .container-shop .card-shop {
      width: 47%; }
      .grid-container main .container-shop .card-shop div img {
        width: 100%;
        height: 50%;
        opacity: .5;
        border-radius: 5px; } }

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-areas: 'header  header  header   header' 'main   main    main    main' 'section section section section' 'footer footer footer footer';
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: auto; }
  .grid-container main .container-shop {
    flex-direction: row;
    flex-wrap: wrap; }
    .grid-container main .container-shop .card-shop {
      width: 30%; }
      .grid-container main .container-shop .card-shop div img {
        width: 100%;
        height: 50%;
        opacity: .5;
        border-radius: 5px; } }

header {
  grid-area: header;
  background-color: #F05454; }
  header .titulo-header {
    font-size: 3.5rem;
    text-shadow: 1px -1px 2px #ffffff;
    margin: 1.1rem; }
  header .logo-header {
    width: 300px;
    height: 300px;
    padding: 20px; }
  header .logo-nav {
    font-weight: bolder;
    font-size: 20px; }
  header nav {
    background-color: #121212;
    color: #ffffff; }
    header nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none; }
      header nav ul li {
        margin: 2px; }
        header nav ul li a {
          text-decoration: none;
          color: #ffffff; }
          header nav ul li a:hover {
            color: #F05454;
            border-bottom: 3px solid #F05454;
            border-radius: 3px; }

main {
  grid-area: main;
  background-color: #E8E8E8;
  width: 100%;
  padding: 20px; }
  main .index-img {
    margin: 25px;
    background-color: #F05454;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid #000000; }
    main .index-img img {
      width: 200px;
      height: 200px;
      animation-name: girando;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-delay: 3s; }

@keyframes girando {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

section {
  grid-area: section;
  background-color: #96BAFF;
  padding: 45px; }
  section div img {
    width: 200px;
    height: 200px;
    animation-name: escalar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }

@keyframes escalar {
  0% {
    transform: scale(0.6); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1.4); } }

footer {
  grid-area: footer;
  background-color: #F05454;
  color: #ffffff;
  padding: 10px; }
  footer .redes-footer {
    margin: 10px; }
    footer .redes-footer a img {
      width: 24px;
      height: 24px;
      margin-right: 15px; }
      footer .redes-footer a img:hover {
        transform: scale(1.5); }
